.header{
    position: relative;
}
.header::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    right: 0;
    background-color: black;
}
.header::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 50%;
    bottom: 0;
    background-color: black;
}
.nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.nav__category{
    display: flex;
    justify-content: left;
    padding: 5px;
    position: absolute;
    left: 30px;
    
}
.nav__category__link{
    display: flex;
    margin: 5px 10px;
    align-items: center;
    justify-content: center;
}
.nav__category__link a{
    text-decoration: none;  
    color: #000;
}
.nav__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 50%;
}
.nav__tool{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 30px;
}
.nav__tool__link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}