.brand__container{
    margin: 16px 0;
    position: relative;
}
.brand__container::before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #666;

}
.brand__container__header{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 500;
}
.brand__container__items{
    display: flex;
    justify-content: center;
}
.brand__container__item{
    border-style: groove;
    margin: 10px;
    border-radius: 10px;
}
.brand__container__item-img{
    width: 180px;
    height: 180px;
    object-fit: contain;

}