.container__img{
    max-width: 100%;
    height: auto;
    position: relative;
    opacity: 0.7;
}
.Form_group{
    margin-top: 5px;
    margin-bottom: 10px;
}
.Form_group input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    height: 35px;
}
.container__col{
    position: absolute;
    top: 100px; 
    right: 100px;
}
.container__label{
    font-size: 18px;
    font-weight: 400;
}
.container__btn{
    margin: 10px;
    border: 1px solid rgba(250, 246, 246, 0);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 5px 30px;
    box-shadow: 0 4px 8px 0 rgba(251, 249, 249, 0.2), 0 6px 20px 0 rgba(251, 251, 251, 0.19);
}
.container__btn:hover{
    background-color: rgb(210, 179, 179);
}
.container__signup_btn{
    margin: 20px;
    border: 1px solid rgba(250, 246, 246, 0);
    border-radius: 20px;
    background-color: #fff;
    padding: 5px 50px; 
}
.container__signup_btn:hover{
    background-color: rgb(210, 179, 179);
}
.container__google--icon{
    width: 24px;
    height: 24px;
}
.container__facebook--icon{
    color: #0f77f1;
}

span{
    padding: 3px;
    color: red;
    display: none;
}
input:invalid[focused="true"] {
    border: 1px solid red;
}
input:invalid[focused="true"] ~span{
    display: block;
}
.link_login{
    text-decoration: none;
    color: black;
    margin-left: 5px;
}
.link_login:hover{
    color: #0df709;
}